<!-- <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click"> -->
<a href="#" (click)="loadUser()" class="m-nav__link m-dropdown__toggle" data-tid="A375695">
    <span class="m-topbar__userpic" data-tid="A375696">
        <span class="m-nav__link-icon" data-tid="A375697">
            <span class="m-nav__link-icon-wrapper" data-tid="A375698">
                <i class="fa fa-user-o" style="font-size: 1.5rem;" data-tid="A375699"></i>
            </span>
        </span>
    </span>
</a>
<div class="m-dropdown__wrapper" data-tid="A375700">
    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" data-tid="A375701"></span>
    <div class="m-dropdown__inner" data-tid="A375702">
        <div class="m-dropdown__header m--align-center" #mProfileDropdown style="background: #08c;" data-tid="A375703">
            <div class="m-card-user m-card-user--skin-dark" data-tid="A375704">
                <div class="m-card-user__pic" data-tid="A375705">
                    <img src="{{avatar}}" class="m--img-rounded m--marginless" alt data-tid="A375706" />
                </div>
                <div class="m-card-user__details" data-tid="A375707">
                    <div style="position: absolute;right: 16px;width:20px;top: 18px;" data-tid="A375708">
                        <a href="javascript:;" (click)="showHideDetails($event)" data-tid="A375709">
                            <i class="fa fa-question-circle" style="
                                color: #fff;
                                font-size: 20px;
                            " data-tid="A375710"></i>
                        </a>
                    </div>
                    <span class="m-card-user__name m--font-weight-500" data-tid="A375711">
                        {{UserName}}
                    </span>
                    <span class="m-card-user__name m--font-weight-500" data-tid="A375712">
                        {{FeedBack?.IP}}
                    </span>
                </div>

            </div>
        </div>
        <div *ngIf="showDetails" class="m-dropdown__header" style="background: #08c;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        padding-top: 0px;
        height: 220px;
        " data-tid="A375713">
            <div class="m-card-user__name" data-tid="A375714">
                <div class="feedbackitem" data-tid="A375715">
                    <div class="left-side" data-tid="A375716">
                        Chrome Version
                    </div>
                    <div class="right-side" data-tid="A375717">
                        {{FeedBack?.ChromeVersion}}
                    </div>
                </div>
                <div class="feedbackitem" data-tid="A375718">
                    <div class="left-side" data-tid="A375719">
                        Software Version
                    </div>
                    <div class="left-side" data-tid="A375720">
                        {{FeedBack?.SoftwareVersion}}
                    </div>
                </div>
                <div class="feedbackitem" data-tid="A375721">
                    <div class="left-side" data-tid="A375722">
                        Ping
                    </div>
                    <div class="left-side" data-tid="A375723">
                        {{FeedBack?.Ping}}
                    </div>
                </div>
                <div class="feedbackitem" data-tid="A375724">
                    <div class="left-side" data-tid="A375725">
                        CPU
                    </div>
                    <div class="left-side" data-tid="A375726">
                        {{FeedBack?.CPU}}
                    </div>
                </div>
                <div class="feedbackitem" data-tid="A375727">
                    <div class="left-side" data-tid="A375728">
                        RAM
                    </div>
                    <div class="left-side" data-tid="A375729">
                        {{FeedBack?.RAM}}+
                    </div>
                </div>
                <div class="feedbackitem" data-tid="A375730">
                    <div class="left-side" data-tid="A375731">
                        Width
                    </div>
                    <div class="left-side" data-tid="A375732">
                        {{FeedBack?.Width}}
                    </div>
                </div>
                <div class="feedbackitem" data-tid="A375733">
                        <div class="left-side" data-tid="A375734">
                            Height
                        </div>
                        <div class="left-side" data-tid="A375735">
                            {{FeedBack?.Height}}
                        </div>
                    </div>
            </div>
        </div>
        <div class="m-dropdown__body" data-tid="A375736">
            <div class="m-dropdown__content" data-tid="A375737">
                <ul class="m-nav m-nav--skin-light" data-tid="A375738">
                    <li class="m-nav__section m--hide" data-tid="A375739">
                        <span class="m-nav__section-text" data-tid="A375740">
                            Section
                        </span>
                    </li>
                    <li class="m-nav__item" data-tid="A375741">
                        <a href="javascript:;" (click)="openSettings()" class="m-nav__link" data-tid="A375742">
                            <i class="m-nav__link-icon fa fa-gear" data-tid="A375743"></i>
                            <span class="m-nav__link-text" data-tid="A375744">
                                Ayarlarım
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__item" data-tid="A375745">
                        <a href="javascript:;" (click)="changePassword()" class="m-nav__link" data-tid="A375746">
                            <i class="m-nav__link-icon fa fa-lock" data-tid="A375747"></i>
                            <span class="m-nav__link-text" data-tid="A375748">
                                Şifre Değiştir
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__item" data-tid="A375749">
                        <a href="javascript:;" (click)="openBarcodeSettings()" class="m-nav__link" data-tid="A375750">
                            <i class="m-nav__link-icon fas fa-barcode" data-tid="A375751"></i>
                            <span class="m-nav__link-text" data-tid="A375752">
                                Barkod Ayarları
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__item" data-tid="A375753">
                        <a href="javascript:;" (click)="logOut()" class="m-nav__link" data-tid="A375754">
                            <i class="m-nav__link-icon fa fa-sign-out" data-tid="A375755"></i>
                            <span class="m-nav__link-text" data-tid="A375756">
                                Çıkış
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<style data-tid="A375757">
    .left-side {
        width: 50%;
        float: left;
    }

    .right-side {
        width: 50%;
        float: left;
    }

    .feedbackitem {
        height: 20px;
        line-height: 30px;
    }
</style>
<!-- </li> -->