.remove-padding {
    padding: 0 !important;
}

.remove-padding-right {
    padding-right: 0 !important;
}

.remove-padding-left {
    padding-left: 0 !important;
}

.remove-margin {
    margin: 0 !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.container-fluid {
    height: 100%;
}

nestatepanelcomponent > div.row > div {
    padding-left: 29px;
    margin-bottom: 10px;
}

#paymentType .dx-clear-button-area {
    display: none;
}

.text-align-right {
    text-align: right !important;
}

#systemapi-container-parent #systemapi-container > comp-compose > invoicecollectionboundform > div.container-fluid {
    height: 90%;
}

#invoice-term-grid-container {
    height: 90% !important;
}

div.tab-pane.fade.in.active {
    height: 100% !important;
}

.tabpanel-item {
    height: 100% !important;
}

.action-buttons {
    position: absolute;
    bottom: 5px;
    right: 15px;
}


.drugSearchMasterGrid > div.dx-datagrid.dx-datagrid-borders > div.dx-datagrid-rowsview > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollable-content > .dx-datagrid-content > .dx-datagrid-table.dx-datagrid-table-fixed > tbody > tr.dx-row.dx-column-lines.dx-row-lines.dx-master-detail-row > td.dx-cell-focus-disabled.dx-master-detail-cell {
    padding: 10px 0 0 0!important;
}

@media(max-height:1200px) {
    #cash-office-patient-grid-container {
        height: 70% !important;
    }

    #invoiceCollection-grid-container {
        height: 75% !important;
    }

    /* div.tab-content div.tab-content {
        height: 96% !important;
    } */
}

div.tab-content {
    height: calc(100% - 27px) !important;
}

@media(max-height:1080px) {
    #cash-office-patient-grid-container {
        height: 65% !important;
    }

    #invoiceCollection-grid-container {
        height: 70% !important;
    }

    /* .tab-content {
        height: 94% !important;
    } */

    /* div.tab-content div.tab-content {
        height: 92% !important;
    } */
}

@media(max-height:1050px){
    #cash-office-patient-grid-container {
        height: 65% !important;
    }
}

@media(max-height:1024px) {
    #cash-office-patient-grid-container {
        height: 63% !important;
    }
}

@media(max-height:960px) {
    #cash-office-patient-grid-container {
        height: 60% !important;
    }

    #invoiceCollection-grid-container {
        height: 62% !important;
    }
/* 
    .tab-content {
        height: 94% !important;
    } */

    /* div.tab-content div.tab-content {
        height: 92% !important;
    } */
    .action-buttons {
        position: initial;
    }
}

@media(max-height:768px) {
    #cash-office-patient-grid-container {
        height: 60% !important;
    }

    #invoiceCollection-grid-container {
        height: 55% !important;
    }

    #invoice-term-grid-container {
        height: 90% !important;
    }

    /* .tab-content {
        height: 91% !important;
    } */

    /* div.tab-content div.tab-content {
        height: 89% !important;
    } */
    .action-buttons {
        position: initial;
    }
}

@media(max-height:640px) {
    #cash-office-patient-grid-container {
        height: 37% !important;
    }

    #invoiceCollection-grid-container {
        height: 41% !important;
    }

    #invoice-term-grid-container {
        height: 60% !important;
    }

    /* .tab-content {
        height: 85% !important;
    } */

    /* div.tab-content div.tab-content {
        height: 83% !important;
    } */
}
