
.container-fluid {
    height: 100%;
}

invoice-sep-search-result-form {
    height: 100% !important;
    display: block;
}


#paymentType .dx-clear-button-area {
    display: none;
}

.remove-padding {
    padding:0!important;
}

.remove-padding-right {
    padding-right: 0 !important;
}

.search-panel-label{
    /*text-align:right!important;*/
    line-height:15px;
}

div.tab-pane.fade.in.active {
    height: 100% !important;
}

/*invoice-sep-search-form div.tab-content {
    height: 90% !important;
}*/

@media(max-height:1200px) {
    #invoice-sepform-bottom-grid-container {
        height: 80% !important;
    }

    /*.tab-content {
        height: 95%;
    }*/
    /*invoice-sep-search-form div.tab-content {
        height: 70% !important;
    }*/
}

@media(max-height:1080px) {
    #invoice-sepform-bottom-grid-container {
        height: 70% !important;
    }

    /*.tab-content {
        height: 92%;
    }*/
    /*invoice-sep-search-form div.tab-content {
        height: 100% !important;
    }*/
}

@media(max-height:960px) {
    #invoice-sepform-bottom-grid-container {
        height: 65% !important;
    }

    /*.tab-content {
        height: 89% !important;
    }*/
    /*invoice-sep-search-form div.tab-content {
        height: 70% !important;
    }*/
}

@media(max-height:900px) {
    #invoice-sepform-bottom-grid-container {
        height: 50% !important;
    }

    /*.tab-content {
        height: 80%;
    }*/
    /*invoice-sep-search-form div.tab-content {
        height: 70% !important;
    }*/
}


@media(max-height:768px) {
    #invoice-sepform-bottom-grid-container {
        height: 45% !important;
    }

    /*.tab-content {
        height: 70%;
    }*/
    /*invoice-sep-search-form div.tab-content {
        height: 70% !important;
    }*/
}

@media(max-height:640px) {
    #invoice-sepform-bottom-grid-container {
        height: 40% !important;
    }

    /*.tab-content {
        height: 65%;
    }*/
    /*invoice-sep-search-form div.tab-content {
        height: 70% !important;
    }*/
}



@media(max-width:1365px)
{
    .search-panel-label {
        /*text-align:right!important;*/
        line-height: 8px;
    }

    dx-radio-group > div.dx-widget.dx-collection > div.dx-item.dx-radiobutton
    {
        margin:0px!important;
    }
    dx-radio-group > div.dx-widget.dx-collection div.dx-radio-value-container
    {
        padding:0;
    }

    dx-radio-group > div.dx-widget.dx-collection div.dx-item.dx-radiobutton:first-child {
        padding-left:5px;
    }

    dx-radio-group > div.dx-widget.dx-collection div.dx-item.dx-radiobutton:last-child
    {
        float:right!important;
        padding-right:5px;
    }
}

@media(max-width:1024px) {
    .search-panel-label {
        /*text-align:right!important;*/
        line-height: 8px;
    }

    dx-radio-group > div.dx-widget.dx-collection > div.dx-item.dx-radiobutton {
        margin: 0px !important;
    }

    dx-radio-group > div.dx-widget.dx-collection div.dx-radio-value-container {
        padding: 0;
    }

    dx-radio-group > div.dx-widget.dx-collection div.dx-item.dx-radiobutton:first-child {
        padding-left: 0;
        font-size:11px!important;
    }

    dx-radio-group > div.dx-widget.dx-collection div.dx-item.dx-radiobutton:last-child {
        float: right !important;
        padding-right: 0px;
        font-size:11px!important;
    }
}

@media(max-width:800px) {
    .search-panel-label {
        /*text-align:right!important;*/
        line-height: 8px;
    }

    dx-radio-group > div.dx-widget dx-collection > div.dx-item dx-radiobutton {
        margin: 10px !important;
    }
    dx-radio-group > div.dx-widget.dx-collection div.dx-item.dx-radiobutton:last-child {
        float: right !important;
        padding-right: 0px;
    }
}