<button *ngIf="selectedItem" (click)="deleteSubmission($event)" type="button" class="btn btn-danger" style="float: right;font-size: 8px;" data-tid="A370738"><i aria-hidden="true" class="fa fa-trash" data-tid="A370739"></i></button>
<dx-data-grid *ngIf="isReady" [dataSource]="dataSource" [showBorders]="true" [columns]="gridColumns" [hoverStateEnabled]="true" (onSelectionChanged)="selectionChanged($event)" data-tid="A370740">
        <dxo-paging [pageSize]="10" data-tid="A370741">
        </dxo-paging>
        <dxo-selection mode="single" data-tid="A370742"></dxo-selection>
        <dxo-filter-row [visible]="true" data-tid="A370743"></dxo-filter-row>
        <dxo-header-filter [visible]="true" data-tid="A370744"></dxo-header-filter>
        <dxo-scrolling mode="pager" data-tid="A370745"></dxo-scrolling>
        <dxo-group-panel [visible]="true" data-tid="A370746"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="false" data-tid="A370747"></dxo-grouping>
</dx-data-grid>