

<div class="row" id="A27995" data-tid="A365050">
    <div class="col-md-6" id="A27996" data-tid="A365051">
        <dx-button type="btn btn-default" (onClick)="btnSave_Click()" text="Kaydet" i18n-text="@@M17386" id="A27997" data-tid="A365052"></dx-button>
    </div>
</div>
<br id="A27998" data-tid="A365053" />

<div class="row" *ngFor="let radTest of this.proceduresRequiredInfoViewModel.RadiologyTestList" id="A27999" data-tid="A365054">
    <div class="col-md-12" id="A28000" data-tid="A365055">
        <RadiologyTestRequestInfoForm [textDescription]="proceduresRequiredInfoViewModel.textDescription" [radiologyTest]="radTest" [clinicAnemnesis]="this.proceduresRequiredInfoViewModel.ClinicAnemnesis" [procedureObjectList]="this.proceduresRequiredInfoViewModel.ProcedureObjectList" [testdefinitionList]="this.proceduresRequiredInfoViewModel.RadiologyTestTypeDefinitions" id="A28001" data-tid="A365056">
        </RadiologyTestRequestInfoForm>
    </div>
</div>

<div class="row" *ngFor="let labTest of this.proceduresRequiredInfoViewModel.LaboratoryTestList" id="A28002" data-tid="A365057">
    <div class="col-md-12" id="A28003" data-tid="A365058">
    </div>
</div>

<div class="row" *ngFor="let psyTest of this.proceduresRequiredInfoViewModel.PsychologyProcedureList" id="A28004" data-tid="A365059">
    <div class="col-md-12" id="A28005" data-tid="A365060">
        <PsychologyTestRequestInfoForm [psychologyTest]="psyTest" [procedureObjectList]="this.proceduresRequiredInfoViewModel.ProcedureObjectList" id="A28006" data-tid="A365061"></PsychologyTestRequestInfoForm>
    </div>
</div>

<div class="row" *ngFor="let patTest of this.proceduresRequiredInfoViewModel.PathologyProcedureList" id="A28007" data-tid="A365062">
    <div class="col-md-12" id="A28008" data-tid="A365063">
        <PathologyTestRequestInfoForm [pathologyTest]="patTest" [procedureObjectList]="this.proceduresRequiredInfoViewModel.ProcedureObjectList" id="A28009" data-tid="A365064"></PathologyTestRequestInfoForm>
    </div>
</div>

<div class="row" *ngFor="let nuclearTest of this.proceduresRequiredInfoViewModel.NuclearMedicineTestList" id="A28007" data-tid="A365065">
    <div class="col-md-12" id="A28008" data-tid="A365066">
        <NuclearMedicineTestRequestInfoForm [textDescription]="proceduresRequiredInfoViewModel.textDescription"  [procedureObjectList]="this.proceduresRequiredInfoViewModel.ProcedureObjectList" [nuclearMedicineTest]="nuclearTest" [clinicAnemnesis]="this.proceduresRequiredInfoViewModel.ClinicAnemnesis" id="A28001" data-tid="A365067"></NuclearMedicineTestRequestInfoForm>
    </div>
</div>

<div class="row" *ngFor="let mp of this.proceduresRequiredInfoViewModel.ManipulationProcedureList" id="AY27999" data-tid="A365068">
    <div class="col-md-12" id="AY28000" data-tid="A365069">
        <ManipulationProcedureRequestInfo [manipulationProcedure]="mp" [procedureObjectList]="this.proceduresRequiredInfoViewModel.ProcedureObjectList" id="AY28001" data-tid="A365070"></ManipulationProcedureRequestInfo>
    </div>
</div>

