<!-- begin::Footer -->
<div class="m-container m-page__container m-container--full-height" [ngClass]="footerContainerClass$ | async" data-tid="A375481">
	<div class="m-footer__wrapper" data-tid="A375482">
		<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop" data-tid="A375483">
			<div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last" data-tid="A375484">
			<span class="m-footer__copyright" data-tid="A375485">
				2017 &copy; Metronic theme by
				<a href="https://keenthemes.com" class="m-link" data-tid="A375486">
					Keenthemes
				</a>
			</span>
			</div>
			<div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first" data-tid="A375487">
				<ul class="m-footer__nav m-nav m-nav--inline m--pull-right" data-tid="A375488">
					<li class="m-nav__item" data-tid="A375489">
						<a href="#" class="m-nav__link" data-tid="A375490">
						<span class="m-nav__link-text" data-tid="A375491">
							About
						</span>
						</a>
					</li>
					<li class="m-nav__item" data-tid="A375492">
						<a href="#" class="m-nav__link" data-tid="A375493">
						<span class="m-nav__link-text" data-tid="A375494">
							Privacy
						</span>
						</a>
					</li>
					<li class="m-nav__item" data-tid="A375495">
						<a href="#" class="m-nav__link" data-tid="A375496">
						<span class="m-nav__link-text" data-tid="A375497">
							T&C
						</span>
						</a>
					</li>
					<li class="m-nav__item" data-tid="A375498">
						<a href="#" class="m-nav__link" data-tid="A375499">
						<span class="m-nav__link-text" data-tid="A375500">
							Purchase
						</span>
						</a>
					</li>
					<li class="m-nav__item m-nav__item" data-tid="A375501">
						<a href="#" class="m-nav__link" data-toggle="m-tooltip" title="Support Center" data-placement="left" data-tid="A375502">
							<i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3" data-tid="A375503"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end::Footer -->
