<div class="row" data-tid="A375945">
    <div class="col-lg-1" data-tid="A375946">
        <img [src]="patientImage" width="80" height="80" style="margin-left: 5px" data-tid="A375947" />
    </div>
    <div class="col-lg-2" data-tid="A375948">
        <div class="row" data-tid="A375949">
            <div class="col" data-tid="A375950">
                <span style="font-size: 1em; font-weight: bold" data-tid="A375951">{{patientInfo?.UniqueIdentifier}}</span>
            </div>
        </div>
        <div class="row" data-tid="A375952">
            <div class="col" data-tid="A375953">
                <span style="font-size: 1em; font-weight: bold" data-tid="A375954">{{patientInfo?.FirstName}} {{patientInfo?.LastName}}</span>
            </div>
        </div>
        <div class="row" data-tid="A375955">
            <div class="col" data-tid="A375956">
                <span style="font-size: 1em; font-weight: bold" data-tid="A375957">{{patientInfo?.Gender}}</span> -
                <span style="font-size: 1em; font-weight: bold" data-tid="A375958">{{patientInfo?.Age}}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-2" data-tid="A375959">
        <div class="row" data-tid="A375960">
            <div class="col" data-tid="A375961">
                <div data-tid="A375962">
                    <span style="font-weight: bold" data-tid="A375963">E-Posta:</span>
                    <span data-tid="A375964">{{patientInfo?.EMail}}</span>
                </div>
            </div>
        </div>
        <div class="row" data-tid="A375965">
            <div class="col" data-tid="A375966">
                <div data-tid="A375967">
                    <span style="font-weight: bold" data-tid="A375968">Telefon:</span>
                    <span data-tid="A375969">{{patientInfo?.Phone}}</span>
                </div>
            </div>
        </div>
        <div class="row" data-tid="A375970">
            <div class="col" data-tid="A375971">
                <div data-tid="A375972">
                    <span style="font-weight: bold" data-tid="A375973">Adres:</span>
                    <span data-tid="A375974">{{patientInfo?.Address}}</span>
                </div>
            </div>
        </div>
        <div class="row" data-tid="A375975">
            <div class="col" data-tid="A375976">
                <div data-tid="A375977">
                    <span style="font-weight: bold" data-tid="A375978">Kan Grubu:</span>
                    <span data-tid="A375979">{{patientInfo?.BloodGroup}}</span>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-7" data-tid="A375980">
        <div class="media" data-tid="A375981">
            <i class="fa fa-search align-self-center mr-1" data-tid="A375982"></i>
            <div class="media-body" data-tid="A375983">
                <input #textKimlikNo type="text" placeholder="Lütfen kimlik no giriniz" (keyup.enter)="searchPatient(textKimlikNo)" data-tid="A375984" />
            </div>
        </div>
    </div>
</div>
<div class="row" data-tid="A375985">

</div>