<!-- BEGIN: Topbar -->
<!-- <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav"> -->
<div id="m_header_topbar" class="m-topbar m-stack m-stack--ver m-stack--general" data-tid="A375590">
	<div class="m-stack__item m-topbar__nav-wrapper" data-tid="A375591">
        <ul class="m-topbar__nav m-nav m-nav--inline" data-tid="A375592">
            <m-search-dropdown *ngIf="searchType === 'search-dropdown'" data-tid="A375593"></m-search-dropdown>
            <m-search-default *ngIf="searchType === 'search-default'" data-tid="A375594"></m-search-default>
            <m-notification data-tid="A375595"></m-notification>
            <m-quick-action data-tid="A375596"></m-quick-action>
            <!--<m-language-selector></m-language-selector>-->
            <m-user-profile data-tid="A375597"></m-user-profile>
            <!-- TODO; if layout config quick_sidebar.display is enabled -->
            <li id="m_quick_sidebar_toggle" class="m-nav__item" data-tid="A375598">
                <a href="javascript:;" class="m-nav__link m-dropdown__toggle" data-tid="A375599">
                    <span class="m-nav__link-icon" data-tid="A375600">
                        <i class="flaticon-grid-menu" data-tid="A375601"></i>
                    </span>
                </a>
            </li>
        </ul>
	</div>
</div>
<!-- </div> -->
<!-- END: Topbar -->
