* {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
html, body {
	height: 100%;
}
body {
	height: 100%;
	width: 100%;
	background: #f2fafe ;
	font-family: Arial, Helvetica, sans-serif;
}
#display {
	height: 100%;
	width: 100%;
}
#hastaListesi, .grup {
	width: 100% !important;
}
.satir {
	width: 100% !important;
}
.progress
        {
            z-index: 200;
            position: absolute;
            top: 0pt;
            left: 0pt;
	    display: none;
            padding: 5px 5px 5px 5px;
            text-align: center;
        }
.ust {

	width: 100%;
	font-size: 32px;
	color: #325770;
	vertical-align: middle;
	background: #FFFFFF url(../img/header_V2.png) repeat-x bottom;
	padding: 10px 0px 0px 0px;
	font-weight: bold;
	text-align: center;
}
.orta {
	height: 100%;
	width: 100%;
}
.scroll {
	height: 5%;
	width: 100%;
	font-size: 32px;
	color: #cb0000;
	font-weight: bold;
	text-align: center;
}
.slayt {
	height: 85%;
	width: 100%;
}
.alt {
	height: 5%;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.fltLeft {
	float: left;
	display: inline;
}
.fltRight {
	float: right;
	display: inline;
}

.satir {
	line-height: 38px;
}
.sutun {
	float: left;
	width: 20%;
	font-size: 25px;
	text-align: left;
	font-weight: bold;
}
.sutunsayi {
	float: left;
	width: 12%;
	font-size: 18px;
	text-align: left;
	font-weight: bold;
}
.sutunsayi1 {
	float: left;
	width: 15%;
	font-size: 25px;
	text-align: left;
	font-weight: bold;
}
.yenisutun {
	float: left;
	width: 100%;
	font-size: 16px;
	color:#F00;
	text-align: left;
	font-weight: bold;
}
.sutunsayi5 {
	float: left;
	width: 15%;
	font-size: 25px;
	text-align: left;
	font-weight: bold;
}
.sutunsayi2 {
	float: left;
	width: 17%;
	font-size: 25px;
	text-align: left;
	font-weight: bold;
}
.baslik {
	background: none !important;
	font-size: 30px;
}
.baslik  .sutun,.baslik  .sutunsayi {

	background: none !important;
	color: #202020;
}
.satira {
	background: #e2f4ff;
	color: #6f8c9f;
	text-shadow: 1px 1px 1px #FFFFFF;
}
.satirb {
	background: #d3eec5;
	color: #77a261;
	text-shadow: 1px 1px 1px #FFF;
}
.slaytust {
	position:absolute;
	width: 100%;
	font-size: 32px;
	color: #325770;
	vertical-align: middle;
	background: #FFFFFF url(../img/header_V2.png) repeat-x bottom;
	padding: 10px 0px 0px 0px;
	font-weight: bold;
	text-align: center;
	z-index: 99999;
	
}
.slayt {
	background: #ffffff;
	text-align: center;
margin:70px 0px 0px;
}
.slayt img {
	width:100%;
	height: 100%;
	
}
.slayticerik {
	padding:100px 100px;
}