<h3 data-tid="A370785">Multiple Languages</h3>
<p data-tid="A370786"><a href="https://github.com/formio/angular-formio/wiki/Translations" class="btn btn-primary btn-block" target="_blank" data-tid="A370787"><span class="fa fa-book" data-tid="A370788"></span> Read Documentation</a></p>
<div class="mb-2" data-tid="A370789">
  <button type="button" class="btn btn-primary mr-2" (click)="changeLanguage('en')" data-tid="A370790">English</button>
  <button type="button" class="btn btn-primary mr-2" (click)="changeLanguage('sp')" data-tid="A370791">Español</button>
  <button type="button" class="btn btn-primary" (click)="changeLanguage('ch')" data-tid="A370792">中文</button>
</div>
<formio src="{{ config.appUrl }}/example" [language]="language" [options]="options" data-tid="A370793"></formio>
