<!-- BEGIN: Subheader -->
<div class="m-subheader" [hidden]="subheaderService.disabled$ | async" data-tid="A375758">
	<div class="d-flex align-items-center" data-tid="A375759">
		<div class="mr-auto" data-tid="A375760">
			<h3 class="m-subheader__title" [ngClass]="{ 'm-subheader__title--separator': (subheaderService.breadcrumbs$ | async)?.length > 0 }" data-tid="A375761">
				{{subheaderService.title$ | async}}
			</h3>
			<ul *ngIf="(subheaderService.breadcrumbs$ | async)?.length > 0" class="m-subheader__breadcrumbs m-nav m-nav--inline" data-tid="A375762">
				<li class="m-nav__item m-nav__item--home" data-tid="A375763">
					<a href="javascript:;" routerLink="/" class="m-nav__link m-nav__link--icon" data-tid="A375764">
						<i class="m-nav__link-icon la la-home" data-tid="A375765"></i>
					</a>
				</li>
				<ng-container *ngFor="let item of subheaderService.breadcrumbs$ | async" data-tid="A375766">
					<li class="m-nav__separator" data-tid="A375767">-</li>
					<li class="m-nav__item" data-tid="A375768">
						<a href="javascript:;" [routerLink]="item.page" [queryParams]="item.queryParams" class="m-nav__link" data-tid="A375769">
							<span class="m-nav__link-text" [translate]="item.translate" data-tid="A375770">
								{{item.title}}
							</span>
						</a>
					</li>
				</ng-container>
			</ul>
		</div>
		<div data-tid="A375771">
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true" data-tid="A375772">
				<a href="javascript:;" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle" data-tid="A375773">
					<i class="la la-plus m--hide" data-tid="A375774"></i>
					<i class="la la-ellipsis-h" data-tid="A375775"></i>
				</a>
				<div class="m-dropdown__wrapper" data-tid="A375776">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" data-tid="A375777"></span>
					<div class="m-dropdown__inner" data-tid="A375778">
						<div class="m-dropdown__body" data-tid="A375779">
							<div class="m-dropdown__content" data-tid="A375780">
								<ul class="m-nav" data-tid="A375781">
									<li class="m-nav__section m-nav__section--first m--hide" data-tid="A375782">
										<span class="m-nav__section-text" data-tid="A375783">Quick Actions</span>
									</li>
									<li class="m-nav__item" data-tid="A375784">
										<a href class="m-nav__link" data-tid="A375785">
											<i class="m-nav__link-icon flaticon-share" data-tid="A375786"></i>
											<span class="m-nav__link-text" data-tid="A375787">Activity</span>
										</a>
									</li>
									<li class="m-nav__item" data-tid="A375788">
										<a href class="m-nav__link" data-tid="A375789">
											<i class="m-nav__link-icon flaticon-chat-1" data-tid="A375790"></i>
											<span class="m-nav__link-text" data-tid="A375791">Messages</span>
										</a>
									</li>
									<li class="m-nav__item" data-tid="A375792">
										<a href class="m-nav__link" data-tid="A375793">
											<i class="m-nav__link-icon flaticon-info" data-tid="A375794"></i>
											<span class="m-nav__link-text" data-tid="A375795">FAQ</span>
										</a>
									</li>
									<li class="m-nav__item" data-tid="A375796">
										<a href class="m-nav__link" data-tid="A375797">
											<i class="m-nav__link-icon flaticon-lifebuoy" data-tid="A375798"></i>
											<span class="m-nav__link-text" data-tid="A375799">Support</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit" data-tid="A375800">
									</li>
									<li class="m-nav__item" data-tid="A375801">
										<a href="javascript:;" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm" data-tid="A375802">Submit</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
