<!-- <li class="m-nav__item m-topbar__quick-actions m-topbar__quick-actions--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click"> -->
<a href="javascript:;" class="m-nav__link m-dropdown__toggle" data-tid="A375641">
    <span class="m-nav__link-icon" data-tid="A375642">
        <span class="m-nav__link-icon-wrapper" data-tid="A375643">
            <i class="flaticon-share" data-tid="A375644"></i>
        </span>
    </span>
</a>
<div class="m-dropdown__wrapper" data-tid="A375645">
    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" data-tid="A375646"></span>
    <div class="m-dropdown__inner" data-tid="A375647">
        <div class="m-dropdown__header m--align-center" style="background: #08c" data-tid="A375648">
            <span class="m-dropdown__header-title" data-tid="A375649">
                Hızlı İşlemler
            </span>
            <span class="m-dropdown__header-subtitle" data-tid="A375650">
                Kısayollar
            </span>
        </div>
        <div class="m-dropdown__body m-dropdown__body--paddingless" data-tid="A375651">
            <div class="m-dropdown__content" data-tid="A375652">
                <div class="data" data="false" data-max-height="380" data-mobile-max-height="200" data-tid="A375653">
                    <div class="m-nav-grid m-nav-grid--skin-light" data-tid="A375654">
                        <ng-container *ngFor="let item of quickActionsMenuService.items; let i = index" data-tid="A375655">
                            <div *ngIf="i % 2 == 0" class="m-nav-grid__row" data-tid="A375656">
                                <a href="javascript:;" (click)="itemClick(item)" matTooltipPosition="left" class="m-nav-grid__item" data-tid="A375657">
                                    <i class="m-nav-grid__icon" [ngClass]="item.Icon" data-tid="A375658"></i>
                                    <span class="m-nav-grid__text" data-tid="A375659">
                                        {{item.Text}}
                                    </span>
                                </a>
                                <a *ngIf="i + 1 < quickActionsMenuService.items.length" href="javascript:;" (click)="itemClick(quickActionsMenuService.items[i+1])" matTooltip="Non functional dummy link" matTooltipPosition="left" class="m-nav-grid__item" data-tid="A375660">
                                    <i class="m-nav-grid__icon" [ngClass]="quickActionsMenuService.items[i+1].Icon" data-tid="A375661"></i>
                                    <span class="m-nav-grid__text" data-tid="A375662">
                                        {{quickActionsMenuService.items[i+1].Text}}
                                    </span>
                                </a>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </li> -->
