.remove-padding {
    padding: 0 !important;
}

.remove-padding-right {
    padding-right: 0 !important;
}

.remove-padding-left {
    padding-left: 0 !important;
}

.remove-margin {
    margin: 0 !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.container-fluid {
    height: 100%;
}

nestatepanelcomponent > div.row > div {
    padding-left: 29px;
    margin-bottom: 10px;
}

#paymentType .dx-clear-button-area {
    display: none;
}

.text-align-right {
    text-align: right !important;
}

#systemapi-container-parent #systemapi-container > comp-compose > invoicecollectionboundform > div.container-fluid {
    height: 90%;
}

#invoice-term-grid-container {
    height: 90% !important;
}

div.tab-pane.fade.in.active {
    height: 100% !important;
}

invoice-all-in-form {
    display: block;
    width: 100%;
    height: 100%;
}

.tabpanel-item {
    height: 100% !important;
}

.action-buttons {
    position: absolute;
    bottom: 5px;
    right: 15px;
}


.drugSearchMasterGrid > div.dx-datagrid.dx-datagrid-borders > div.dx-datagrid-rowsview > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollable-content > .dx-datagrid-content > .dx-datagrid-table.dx-datagrid-table-fixed > tbody > tr.dx-row.dx-column-lines.dx-row-lines.dx-master-detail-row > td.dx-cell-focus-disabled.dx-master-detail-cell {
    padding: 10px 0 0 0 !important;
}

/* @media(max-height:1800px) {
    div.tab-content {
        height: 100% !important;
    }

        div.tab-content div.tab-content {
            height: 75% !important;
        }
} */

div.tab-content{
    height: calc(100% - 27px);
}

@media(max-height:1200px) {
    #cash-office-patient-grid-container {
        height: 70% !important;
    }

    #invoiceCollection-grid-container {
        height: 75% !important;
    }

    /* div.tab-content {
        height: 96% !important;
    }

        div.tab-content div.tab-content {
            height: 71% !important;
        } */

    .invocei-sep-form-tab-container {
        height: 63%;
    }

    .invocei-sep-form-tab-container-accordion {
        height: 95%;
    }

    .invoice-sep-form-tab-height {
        height: 68% !important;
    }
}

@media(max-height:1080px) {
    #cash-office-patient-grid-container {
        height: 65% !important;
    }

    #invoiceCollection-grid-container {
        height: 70% !important;
    }

    /* div.tab-content {
        height: 96% !important;
    }

        div.tab-content div.tab-content {
            height: 71% !important;
        } */

    .invocei-sep-form-tab-container {
        height: 63%;
    }

    .invocei-sep-form-tab-container-accordion {
        height: 93%;
    }

    .invoice-sep-form-tab-height {
        height: 68% !important;
    }
}

@media(max-height:1050px) {
    #cash-office-patient-grid-container {
        height: 65% !important;
    }

    .invoice-sep-form-tab-height {
        height: 64.5% !important;
    }

    /* div.tab-content div.tab-content {
        height: 68.1% !important;
    } */
}

@media(max-height:1024px) {
    #cash-office-patient-grid-container {
        height: 65% !important;
    }
/* 
    div.tab-content {
        height: 95% !important;
    }

        div.tab-content div.tab-content {
            height: 68.7% !important;
        } */

    .invocei-sep-form-tab-container {
        height: 62%;
    }

    .invocei-sep-form-tab-container-accordion {
        height: 91%;
    }

    .invoice-sep-form-tab-height {
        height: 65% !important;
    }
}

@media(max-height:960px) {
    #cash-office-patient-grid-container {
        height: 60% !important;
    }

    #invoiceCollection-grid-container {
        height: 62% !important;
    }
/* 
    div.tab-content {
        height: 95% !important;
    }

        div.tab-content div.tab-content {
            height: 66% !important;
        } */

    .action-buttons {
        position: initial;
    }

    .invocei-sep-form-tab-container {
        height: 55%;
    }

    .invocei-sep-form-tab-container-accordion {
        height: 90%;
    }

    .invoice-sep-form-tab-height {
        height: 62% !important;
    }
}

@media(max-height:900px) {
    /* div.tab-content {
        height: 94.5% !important;
    }

        div.tab-content div.tab-content {
            height: 63.5% !important;
        } */

    .invocei-sep-form-tab-container {
        height: 53%;
    }

    .invocei-sep-form-tab-container-accordion {
        height: 83%;
    }

    .invoice-sep-form-tab-height {
        height: 59% !important;
    }
}

@media(max-height:768px) {
    #cash-office-patient-grid-container {
        height: 60% !important;
    }

    #invoiceCollection-grid-container {
        height: 55% !important;
    }

    #invoice-term-grid-container {
        height: 90% !important;
    }

    /* div.tab-content {
        height: 94% !important;
    }

        div.tab-content div.tab-content {
            height: 56.4% !important;
        } */

    .action-buttons {
        position: initial;
    }

    .invocei-sep-form-tab-container {
        height: 43%;
    }

    .invocei-sep-form-tab-container-accordion {
        height: 88%;
    }

    .invoice-sep-form-tab-height {
        height: 51% !important;
    }
}

@media(max-height:640px) {
    #cash-office-patient-grid-container {
        height: 37% !important;
    }

    #invoiceCollection-grid-container {
        height: 41% !important;
    }

    #invoice-term-grid-container {
        height: 60% !important;
    }

    /* .tab-content {
        height: 85% !important;
    }

    div.tab-content div.tab-content {
        height: 83% !important;
    } */
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
}
 
.dx-datagrid-rowsview .dx-selection.dx-row > td, .dx-datagrid-rowsview .dx-selection.dx-row:hover > td {
    background: #99e2ff !important;
    color:black !important;
}

/* .dx-texteditor {
    height: auto !important;
} */
.grid-column-padding
{
    padding-left:5px;
}

.search-panel-label{
    padding-top:5px;
}