<!-- BEGIN: Header -->
<header mHeader #mHeader class="m-grid__item m-header" [attr.m-minimize-offset]="headerService.attrMinimizeOffset" [attr.m-minimize-mobile-offset]="headerService.attrMinimizeMobileOffset" data-tid="A375504">
	<div [ngClass]="headerService.containerClass" data-tid="A375505">
		<div class="m-stack m-stack--ver m-stack--desktop" data-tid="A375506">
			<m-brand data-tid="A375507"></m-brand>
			<!--<mat-progress-bar class="m-loading-bar" *ngIf="(loader.progress$|async) > 0" [value]="loader.progress$|async"></mat-progress-bar>-->
			<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav" data-tid="A375508">
				<!-- BEGIN: Horizontal Menu -->
				<ng-container *ngIf="headerService.menuHeaderDisplay" data-tid="A375509">
					<!-- show/hide horizontal menu based on menu.header.display option -->
					<button class="m-aside-header-menu-mobile-close" id="m_aside_header_menu_mobile_close_btn" [ngClass]="headerService.headerMenuCloseClass" data-tid="A375510">
						<i class="la la-close" data-tid="A375511"></i>
					</button>
					<m-menu-horizontal data-tid="A375512"></m-menu-horizontal>
				</ng-container>
				<!-- END: Horizontal Menu -->
				<m-topbar data-tid="A375513"></m-topbar>
			</div>
		</div>
	</div>
</header>
<!-- END: Header -->
