<h3 data-tid="A370797">JSON Powered Forms</h3>
<p data-tid="A370798">Form.io is a platform for JSON powered forms within Angular. Forms can be embedded as easy as the following code.</p>

<pre class="text-center" data-tid="A370800"><code class="language-markup" data-tid="A370801">&lt;formio src="https://examples.form.io/example"&gt;&lt;/formio&gt;</code></pre>
<p class="text-center" data-tid="A370802"><a class="btn btn-primary" href="https://github.com/formio/angular-formio/wiki/Form-Renderer" data-tid="A370803"><span class="fa fa-book" data-tid="A370804"></span> Read Documentation</a></p>
<formio src="{{ config.appUrl }}/example" data-tid="A370805"></formio>
