<div class="m-messenger m-messenger--message-arrow m-messenger--skin-light" data-tid="A375817">
	<div class="m-messenger__messages" data-tid="A375818">
		<!--<perfect-scrollbar style="height: 78vh;">
			<ng-container *ngFor="let message of messages|async">
				<m-messenger-in *ngIf="message.type === 'in'" [message]="message"></m-messenger-in>
				<m-messenger-out *ngIf="message.type === 'out'" [message]="message"></m-messenger-out>
				<div *ngIf="message.type === 'datetime'" class="m-messenger__datetime">
					{{message.text}}
				</div>
			</ng-container>
		</perfect-scrollbar>-->
		<div class="m-messenger__seperator" data-tid="A375819"></div>
		<div class="m-messenger__form" data-tid="A375820">
			<div class="m-messenger__form-controls" data-tid="A375821">
				<input type="text" name placeholder="Type here..." class="m-messenger__form-input" data-tid="A375822" />
			</div>
			<div class="m-messenger__form-tools" data-tid="A375823">
				<a href class="m-messenger__form-attachment" data-tid="A375824">
					<i class="la la-paperclip" data-tid="A375825"></i>
				</a>
			</div>
		</div>
	</div>
</div>
