<!-- <li class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light m-list-search m-list-search--skin-light" m-dropdown-toggle="click" m-dropdown-persistent="true" id="m_quicksearch" m-quicksearch-mode="dropdown"> -->
<a href="javascript:;" class="m-nav__link m-dropdown__toggle" data-tid="A375679">
	<span class="m-nav__link-icon" data-tid="A375680">
		<span class="m-nav__link-icon-wrapper" data-tid="A375681">
			<i class="flaticon-search-1" data-tid="A375682"></i>
		</span>
	</span>
</a>
<div class="m-dropdown__wrapper" data-tid="A375683">
	<span class="m-dropdown__arrow m-dropdown__arrow--center" data-tid="A375684"></span>
	<div class="m-dropdown__inner " data-tid="A375685">
		<div class="m-dropdown__header" data-tid="A375686">
			<form class="m-list-search__form" data-tid="A375687">
				<div class="m-list-search__form-wrapper" data-tid="A375688">
					<span class="m-list-search__form-input-wrapper" data-tid="A375689">
						<input id="m_quicksearch_input" autocomplete="off" type="text" name="q" class="m-list-search__form-input" value (keydown)="keyDown($event)" placeholder="Up To Date Arama Kriteri" data-tid="A375690" />
					</span>
					<span class="m-list-search__form-icon-close" id="m_quicksearch_close" data-tid="A375691">
						<i class="la la-remove" data-tid="A375692"></i>
					</span>
				</div>
			</form>
		</div>
		<div class="m-dropdown__body" data-tid="A375693">
			<div class="m-dropdown__scrollable m-scrollable" data-scrollable="true" data-max-height="300" data-mobile-max-height="200" data-tid="A375694">
				<!--<perfect-scrollbar style="max-height: 35vh;">
					<div class="m-dropdown__content"></div>
				</perfect-scrollbar>-->
			</div>
		</div>
	</div>
</div>
<!-- </li> -->
