<div class="{{this.collapseSelectedDivProperties()}}" style="height: 100%;" id="A16462" data-tid="A374662">
    <div class="row" style="height: 100%;" data-tid="A374663">
        <div class="col-sm-12 gradientPanel" id="A16463" data-tid="A374664">
            <h4 style="color:#fff; font-size:19px;text-align:left;" id="A16464" data-tid="A374665">
                <div class="btn collapseBtn" (click)="btnCollapse()" style="padding:0;margin-top:3px;margin-right: 5px;" id="A16465" data-tid="A374666">
                    <i class="{{this.collapseIconProperties()}}" id="A16466" data-tid="A374667"></i>
                </div>
                <span id="A16467" data-tid="A374668">Etken Madde Listesi</span>
            </h4>
        </div>
        <div class="panel-body" style="background-color:#f6f6f6;padding-bottom:0; height:100%;padding: 0" data-tid="A374669">
            <div class="col-md-12" style="padding: 2px;height: calc(100% - 127px);" id="A10249" data-tid="A374670">
                <dx-data-grid #grid [dataSource]="activeIngredientDefDataSource" style="height: 650px;" [columns]="activeIngredientDefColumns" [filterRow]="{visible: true}" [paging]="{pageSize:34}" (onSelectionChanged)="selectionGridEvent($event)" [showBorders]="true" data-tid="A374671">
                    <dxo-selection mode="single" data-tid="A374672"></dxo-selection>
                </dx-data-grid>
            </div>
            <div class="col-md-12" style="max-height: 111px;" data-tid="A374673">
                <div class="row" data-tid="A374674">
                    <div class="col-sm-6" data-tid="A374675">
                        <dx-button icon="fas fa-plus" style="float: left;" stylingMode="contained" text="Yeni Etken Madde" type="default" [width]="200" (onClick)="addNew()" data-tid="A374676">
                        </dx-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="{{this.collapseSelectedHiddenDivProperties()}}" style="position:relative;" id="A16544" data-tid="A374677">
    <div class="MyVerticalText" (click)="btnCollapse()" id="A16545" data-tid="A374678">
        <i class="{{this.collapseIconProperties()}}" id="A16546" data-tid="A374679"></i>
        <span data-tid="A374680">&nbsp;&nbsp;&nbsp;&nbsp;Etken Madde Listesi</span>
    </div>
</div>

<div class="{{this.collapsedPanelProperties()}}" style="padding-top: 1%;padding-right: 3% !important;" data-tid="A374681">
    <div id="detail" *ngIf="selectedItemFromOpen" data-tid="A374682">
        <div class="row" data-tid="A374683">
            <dx-button icon="fa fa-times" style="float: right;" stylingMode="contained" text="Vazgeç" type="danger" [width]="120" (onClick)="Cancel()" data-tid="A374684">
            </dx-button>
            <dx-button icon="fas fa-save" style="float: right;" stylingMode="contained" text="Kaydet" type="success" [width]="120" (onClick)="Save()" data-tid="A374685">
            </dx-button>
        </div>
        <br data-tid="A374686" />
        <br data-tid="A374687" />
        <div class="row" data-tid="A374688">
            <div class="col-sm-3" style="font-weight: bold;" data-tid="A374689">
                Ekleyen Kullanıcı
                <dx-text-box [readOnly]="true" [(value)]="creationUser" data-tid="A374690"></dx-text-box>
            </div>
            <div class="col-sm-3" style="font-weight: bold;" data-tid="A374691">
                Eklenme Tarihi
                <dx-date-box style="width: 100%;" [readOnly]="true" [(value)]="creationDate" data-tid="A374692"></dx-date-box>
            </div>
            <div class="col-sm-2" style="font-weight: bold;" data-tid="A374693">
                Değiştiren Kullanıcı
                <dx-text-box [readOnly]="true" [(value)]="lastUpdateUser" data-tid="A374694"></dx-text-box>
            </div>
            <div class="col-sm-1" style="font-weight: bold;" data-tid="A374695">
                <br data-tid="A374696" />
                <dx-button type="btn btn-default" style="font-size: 100%;border-style: unset;color: #4276a4 !important;" text="İ" (onClick)="getDetailAudit()" data-tid="A374697"></dx-button>
            </div>
            <div class="col-sm-3" style="font-weight: bold;" data-tid="A374698">
                Değiştirilme Tarihi
                <dx-date-box style="width: 100%;" [readOnly]="true" [(value)]="lastUpdateDate" data-tid="A374699"></dx-date-box>
            </div>
        </div>
        <br data-tid="A374700" />
        <div class="row" data-tid="A374701">
            <div class="col-sm-3" style="font-weight: bold;" data-tid="A374702">
                Kodu
                <dx-text-box [(value)]="activeIngredientDefinition.Code" data-tid="A374703">
                </dx-text-box>
            </div>
            <div class="col-sm-9" style="font-weight: bold;" data-tid="A374704">
                Etken Madde Adı
                <dx-text-box [(value)]="activeIngredientDefinition.Name" data-tid="A374705">
                </dx-text-box>
            </div>
        </div>
        <br data-tid="A374706" />
        <div class="row" data-tid="A374707">
            <div class="col-sm-12" data-tid="A374708">
                <dx-data-grid [dataSource]="activeIngredientDefinition.ActiveIngredientDefDetails" [columnFixing]="{eneabled:'true'}" columnResizingMode="widget" height="500" data-tid="A374709">
                    <dxo-paging [enabled]="true" data-tid="A374710"></dxo-paging>
                    <dxo-editing mode="cell" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" data-tid="A374711">
                    </dxo-editing>

                    <dxi-column dataField="MaxDose" caption="Maksimum Doz Miktarı" [width]="200" [allowEditing]="true" data-tid="A374712">
                    </dxi-column>

                    <dxi-column dataField="MaxDoseUnit" caption="Doz Birimi" [width]="200" [allowEditing]="true" data-tid="A374713">
                        <dxo-lookup [dataSource]="MaxDoseUnit" displayExpr="Name" valueExpr="ObjectID" data-tid="A374714">
                        </dxo-lookup>
                    </dxi-column>

                    <dxi-column dataField="StartingAge" caption="Başlangıç Yaşı" [width]="200" [allowEditing]="true" data-tid="A374715">
                    </dxi-column>

                    <dxi-column dataField="EndAge" caption="Bitiş Yaşı" [width]="200" [allowEditing]="true" data-tid="A374716">
                    </dxi-column>

                    <dxi-column dataField="Sex" caption="Cinsiyet" [width]="200" data-tid="A374717">
                        <dxo-lookup [dataSource]="Sex" displayExpr="description" valueExpr="ordinal" data-tid="A374718">
                        </dxo-lookup>
                    </dxi-column>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>


<dx-load-panel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" [(message)]="LoadPanelMessage" data-tid="A374719">
</dx-load-panel>