<dx-button [disabled]="InputModel.SentDisable" text="MKYS'ye Gönder" (onClick)="sendMKYS()" data-tid="A375236"></dx-button>
&nbsp;
<dx-button [disabled]="InputModel.RemoveDisable" text="MKYS'den Sil" (onClick)="removeFromMKYS()" data-tid="A375237"></dx-button>
&nbsp;
<dx-button [disabled]="InputModel.QueryDisable" text="MKYS'den Sorgula" (onClick)="searchMKYS()" data-tid="A375238"></dx-button>
&nbsp;
<dx-button [disabled]="InputModel.LogOpDisable" text="MKYS Log İşlemleri" (onClick)="MKYSLogs()" data-tid="A375239"></dx-button>



<dx-popup [showTitle]="true" [(visible)]="isSearchComponentOpen" data-tid="A375240">
    <incoming-document [isTicketCreate]="true" data-tid="A375241"></incoming-document>
</dx-popup>