<div [hidden]="!ready" style="position:relative" data-tid="A370889">
    <div class="reportAbsoluteCenter" *ngIf="_Parameters && _Parameters.DisablePrintButtons" data-tid="A370890">
        <div class="reportCenterText" data-tid="A370891">ÖNİZLEME</div>
    </div>

    <dx-report-designer #dxcomp [reportUrl]="reportUrl" height="900px" data-tid="A370892">
        <dxrd-request-options [getDesignerModelAction]="getDesignerModelAction" [host]="hostUrl" data-tid="A370893"></dxrd-request-options>
        <dxrd-callbacks (ReportOpened)="ReportOpened($event)" (CustomizeMenuActions)="CustomizeMenuActions($event)" (PreviewCustomizeMenuActions)="PreviewCustomizeMenuActions($event)" data-tid="A370894">
        </dxrd-callbacks>
    </dx-report-designer>

</div>