

 <div class="container-fluid" id="A30521" data-tid="A370641">
    <div class="row" id="A30522" data-tid="A370642">
        <div class="col-xs-12" id="A30523" data-tid="A370643">
            <dx-tabs #apiTabs [dataSource]="tabs" displayExpr="Name" [selectedIndex]="0" (onItemClick)="selectTab($event)" id="A30524" data-tid="A370644"></dx-tabs>
        </div>
    </div>
    <div class="row" id="A30525" data-tid="A370645">
        <div style="float:left; width:94%; padding-top: 20px;" id="A30526" data-tid="A370646">
            <dx-text-box #textBox placeholder="Döküman Ara" mode="search" valueChangeEvent="keyup" value i18n-placeholder="@@M13297" id="A30527" data-tid="A370647">
            </dx-text-box>
            <br id="A30528" data-tid="A370648" />
            <dx-tree-view id="simple-treeview" [items]="documentDefinitions" displayExpr="caption" [height]="850" [searchValue]="textBox.value" (onItemClick)="selectItem($event)" data-tid="A370649">
            </dx-tree-view>
        </div>
        <div style="float:right; width:5%; padding-top: 20px;" id="A30529" data-tid="A370650">
            <dx-button text="Dosyayı İndir" (onClick)="saveFile()" i18n-text="@@M13283" id="A30530" data-tid="A370651"></dx-button>
        </div>
    </div>
</div>





