<div class="m-messenger__message m-messenger__message--in" data-tid="A375826">
	<div *ngIf="message.pic" class="m-messenger__message-pic" data-tid="A375827">
		<img src="{{message.pic}}" alt data-tid="A375828" />
	</div>
	<div *ngIf="!message.pic" class="m-messenger__message-no-pic m--bg-fill-danger" data-tid="A375829">
		<span data-tid="A375830">{{message.username | mFirstLetter}}</span>
	</div>
	<div class="m-messenger__message-body" data-tid="A375831">
		<div class="m-messenger__message-arrow" data-tid="A375832"></div>
		<div class="m-messenger__message-content" data-tid="A375833">
			<div class="m-messenger__message-username" data-tid="A375834">
				{{message.username}}
			</div>
			<div class="m-messenger__message-text" data-tid="A375835">
				{{message.text}}
			</div>
		</div>
	</div>
</div>
