<h1 style="color: #ffd800 ; font-weight: bold; text-align:center;" id="A30510" data-tid="A370352">Conversion Test View</h1>
<br id="A30511" data-tid="A370353" />
<dx-button text="Open" (onClick)="systemApiService?.open('99de2cfa-6705-482b-8eb7-194ef5b0af9a','ConvTest')" id="A30512" data-tid="A370354"></dx-button>

<dx-button text="New" (onClick)="systemApiService?.new('ConvTest')" id="A30513" data-tid="A370355"></dx-button>

<dx-button text="Open2" (onClick)="systemApiService?.open('33171ce4-8681-4727-a124-0dc0ec428951','ChattelDocumentInputWithAccountancy')" id="A30514" data-tid="A370356"></dx-button>

<dx-button text="New2" (onClick)="systemApiService?.new('ChattelDocumentInputWithAccountancy')" id="A30515" data-tid="A370357"></dx-button>

<dx-button text="New PA" (onClick)="systemApiService?.new('PatientAdmission')" id="A30516" data-tid="A370358"></dx-button>


<br id="A30517" data-tid="A370359" />
<div class="row" id="A30518" data-tid="A370360">
    <comp-compose [Info]="systemApiService?.componentInfo" id="A30519" data-tid="A370361"></comp-compose>
</div>
<br id="A30520" data-tid="A370362" />
