<style id="A32600" data-tid="A375334">
    body {
        background: #CDE0B3 url('../../Content/loginimages/bg6.png') no-repeat fixed center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0px;
        overflow: hidden;
        font-family: arial;
        color: #fff;
    }

    h1 {
        margin: 0;
    }

    a {
        color: #0078ff;
    }

    #center {
        text-align: center;
        position: relative;
        top: 40vh;
        transform: translatey(-50%);
    }

    #canvas {
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #1a1724;
    }

    .canvas-wrap {
        position: absolute;
        height: 94%;
        width:100%;
        background: #CDE0B3 url('../../Content/loginimages/bg6.jpg') no-repeat fixed center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0px;
        overflow: hidden;
        font-family: arial;
        color: #fff;
        bottom:0;
    }

    div.canvas-content {
        position: relative;
        z-index: 2000;
        color: #fff;
        text-align: center;
        padding-top: 30px;
        height: 100%;
    }

    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }

    .thumbnail {
        margin: 0 auto 30px;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto /* 100px*/;
        padding: 45px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

        .form input {
            font-family: "Open Sans", sans-serif;
            outline: 0;
            background: #e8e8e8;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
            color: black;
        }

        .form button {
            font-family: "Open Sans", sans-serif;
            text-transform: normal;
            outline: 0;
            background: #4CAF50;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

            .form button:hover, .form button:active, .form button:focus {
                background: #43A047;
            }

    .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
    }

        .container:before, .container:after {
            content: "";
            display: block;
            clear: both;
        }
</style>
<section class="canvas-wrap" style="margin-top: -42px;
margin-right: -58px;" id="A32601" data-tid="A375335">
    <div class="canvas-content" id="A32602" data-tid="A375336">
        <div id="center" class="login-page" data-tid="A375337">
            <div class="form" id="A32603" data-tid="A375338">
                <div class="thumbnail" id="A32604" data-tid="A375339">
                    <img src="/Content/loginimages/logo.png" height="175" width="102" id="A32605" data-tid="A375340" />
                </div>
                <form class="login-form" id="A32606" data-tid="A375341">

                    <ul class="nav nav-tabs" data-tid="A375342">
                            <li class="{{getActivePassive('login')}}" data-tid="A375343"><a data-toggle="tab" href="#LOGIN" *ngIf="_hideLoginTab == 'false'" (click)="TabPanelClick('login')" data-tid="A375344">Login Şifre</a></li>
                            <li class="{{getActivePassive('kps')}}" data-tid="A375345"><a data-toggle="tab" href="#KPS" (click)="TabPanelClick('kps')" data-tid="A375346">KPS Şifre</a></li>
                        
                    </ul>

                    <div class="tab-content" data-tid="A375347">
                            <div class="{{getActivePassivePane('login')}}" id="LOGIN" *ngIf="_hideLoginTab == 'false'" data-tid="A375348">
                                    <input type="password" [(ngModel)]="Model.OldPassword" placeholder="Eski Şifre" [ngModelOptions]="{standalone: true}" i18n-placeholder="@@M13882" id="A32607" data-tid="A375349" />
                                    <input type="password" [(ngModel)]="Model.NewPassword" placeholder="Yeni Şifre" [ngModelOptions]="{standalone: true}" i18n-placeholder="@@M24594" id="A32608" data-tid="A375350" />
                                    <input type="password" [(ngModel)]="Model.ApplyNewPassword" placeholder="Yeni Şifre Onay" [ngModelOptions]="{standalone: true}" i18n-placeholder="@@M24595" id="A32609" data-tid="A375351" />
                                    <button (click)="ChangePassword()" id="A32610" data-tid="A375352">Değiştir</button>
                            </div>
                            <div class="{{getActivePassivePane('kps')}}" id="KPS" data-tid="A375353">
                                    <input [(ngModel)]="Model.KPSUserName" placeholder="Mernis Kullanıcı Adı" [ngModelOptions]="{standalone: true}" i18n-placeholder="@@M13882" id="A32607" data-tid="A375354" />
                                    <input type="password" [(ngModel)]="Model.KPSPassWord" placeholder="Mernis Şifre" [ngModelOptions]="{standalone: true}" i18n-placeholder="@@M24594" id="A32608" data-tid="A375355" />
                                    <button (click)="ChangeKPSPassword()" id="A32610" data-tid="A375356">Kaydet</button>
                            </div>
                            </div>

                    
                </form>
            </div>
        </div>
    </div>
    <div id="canvas" class="gradient" data-tid="A375357"></div>
</section>
