

 <div style="text-align: center; width:100%; height:100%" id="A32626" data-tid="A375380">
    <h3 style="margin:0" id="A32627" data-tid="A375381">ATLAS XXXXXX Bilgi Yönetim Sistemi</h3>
    <div class="list-container col-md-3" id="A32628" data-tid="A375382">
        <h2 style="margin:0" id="A32629" data-tid="A375383">Duyurular ve Sistem Mesajları</h2>
        <dx-list [items]="inbox" height="800px" (onItemClick)="selectedChange($event)" id="A32630" data-tid="A375384">
            <div *dxTemplate="let data of 'item'" id="A32631" data-tid="A375385">
                <div *ngIf="data.Durumu==0" class="row" id="A32632" data-tid="A375386">
                    <div class="col-sm-12" id="A32633" data-tid="A375387">
                        <b style="float:left" id="A32634" data-tid="A375388">{{data.Gonderenadi}}</b>
                    </div>
                    <div class="col-sm-4" style="padding-top:13px" id="A32635" data-tid="A375389">
                        <p id="A32636" data-tid="A375390">{{data.Baslik}}</p>
                    </div>
                    <div class="col-sm-6" id="A32637" data-tid="A375391">
                        <p style="float: right;margin-right: -66px;" id="A32638" data-tid="A375392">{{(data.Tarih| date:'dd.MM.yyyy HH:mm')}}</p>
                    </div>
                </div>
                <div *ngIf="data.Durumu==1" class="row" style="background-color:#d2d5d8" id="A32639" data-tid="A375393">
                    <div class="col-sm-12" id="A32640" data-tid="A375394">
                        <b style="float:left" id="A32641" data-tid="A375395">{{data.Gonderenadi}}</b>
                    </div>
                    <div class="col-sm-4" style="padding-top:13px" id="A32642" data-tid="A375396">
                        <p id="A32643" data-tid="A375397">{{data.Baslik}}</p>
                    </div>
                    <div class="col-sm-6" id="A32644" data-tid="A375398">
                        <p style="float: right;margin-right: -66px;" id="A32645" data-tid="A375399">{{(data.Tarih| date:'dd.MM.yyyy HH:mm')}}</p>
                    </div>
                </div>
            </div>
        </dx-list>
    </div>
    <div class="list-container col-sm-9" id="A32646" data-tid="A375400">
        <br id="A32647" data-tid="A375401" />
        <br id="A32648" data-tid="A375402" />
        <div id="systemapi-container" class="col-sm-12" style="height:100%" data-tid="A375403">
            <comp-compose [Info]="systemApiService?.componentInfo" id="A32649" data-tid="A375404"></comp-compose>
        </div>
    </div>
</div>


