


<div class="row" data-tid="A375405">
    <label class="control-label col-sm-5" id="A1578" data-tid="A375406">Tema</label>
    <div class="col-sm-7" id="A1579" data-tid="A375407">
        <dx-select-box [items]="themes" [value]="initTheme" displayExpr="name" valueExpr="name" (onValueChanged)="themeChanged($event)" data-tid="A375408"></dx-select-box>
    </div>
</div>
<br data-tid="A375409" />
<div class="row" data-tid="A375410">
    <label class="control-label col-sm-5" id="A1578" data-tid="A375411">Malzeme Yönetimi Ekranı</label>
    <div class="col-sm-7" id="A1579" data-tid="A375412">
        <dx-select-box [items]="StockMenuTypes" [value]="initMenuType" displayExpr="Name" valueExpr="Value" [disabled]="true" (onValueChanged)="menuTypeChanged($event)" data-tid="A375413"></dx-select-box>
    </div>
</div>