

<form id="OldExaminationForm" class="form-horizontal" role="form" data-tid="A346499">
    
    <div class="row" id="A14720" data-tid="A346500">
        <table class="table table-bordered patientHistoryTableStyle" id="A14721" data-tid="A346501">
            <thead id="A14722" data-tid="A346502">
                <tr id="A14723" data-tid="A346503">
                    <th colspan="2" class="tableHeaderStyle" id="A14724" data-tid="A346504">Poliklinik</th>
                </tr>
            </thead>
            <tbody id="A14725" class="historyTableHeightLimit" data-tid="A346505">
                <tr id="A14726" data-tid="A346506">
                    <td class="col-md-3 info" id="A14727" data-tid="A346507"><label id="A14728" data-tid="A346508">Kabul Tarihi</label></td>
                    <td class="col-md-9" id="A14729" data-tid="A346509">{{oldExaminationFormViewModel?.AdmissionDate | date:"dd.MM.yyyy HH:mm"}}</td>
                </tr>
                <tr id="A14730" data-tid="A346510">
                    <td class="col-md-3 info" id="A14731" data-tid="A346511"><label id="A14732" data-tid="A346512">Kabul Alınan Birim</label></td>
                    <td class="col-md-9" id="A14733" data-tid="A346513">{{oldExaminationFormViewModel?.AdmissionClinic}}</td>
                </tr>
                <tr id="A14734" data-tid="A346514">
                    <td class="col-md-3 info" id="A14735" data-tid="A346515"><label id="A14736" data-tid="A346516">Kabul Alınan Doktor</label></td>
                    <td class="col-md-9" id="A14737" data-tid="A346517">{{oldExaminationFormViewModel?.ProcedureDoctor}}</td>
                </tr>
                <tr id="A14738" data-tid="A346518">
                    <td class="col-md-3 info" id="A14739" data-tid="A346519"><label id="A14740" data-tid="A346520">Kabul No</label></td>
                    <td class="col-md-9" id="A14741" data-tid="A346521">{{oldExaminationFormViewModel?.AdmissionNumber}}</td>
                </tr>
                <tr id="A14742" data-tid="A346522">
                    <td class="col-md-3 info" id="A14743" data-tid="A346523"><label id="A14744" data-tid="A346524">Tanı</label></td>
                    <td class="col-md-9" id="A14745" data-tid="A346525">{{oldExaminationFormViewModel?.Diagnosis}}</td>
                </tr>

                <tr *ngIf="oldExaminationFormViewModel?.Complaint != null" id="A14746" data-tid="A346526">
                    <td class="col-md-3 info" id="A14747" data-tid="A346527"><label id="A14748" data-tid="A346528">Şikayeti</label></td>
                    <td class="col-md-9" id="A14749" data-tid="A346529">
                        <span class="col-md-11" style="line-height: 1.42857 !important;" [innerHTML]="oldExaminationFormViewModel?.Complaint" id="A14750" data-tid="A346530"></span>
                    </td>
                </tr>
                <tr *ngIf="oldExaminationFormViewModel?.PatientStory != null" id="A14751" data-tid="A346531">
                    <td class="col-md-3 info" id="A14752" data-tid="A346532"><label id="A14753" data-tid="A346533">Hikayesi</label></td>
                    <td class="col-md-9" id="A14754" data-tid="A346534">
                        <span class="col-md-11" style="line-height: 1.42857 !important;" [innerHTML]="oldExaminationFormViewModel?.PatientStory" id="A14755" data-tid="A346535"></span>
                    </td>
                </tr>
                <tr *ngIf="oldExaminationFormViewModel?.PhysicalExamination != null" id="A14756" data-tid="A346536">
                    <td class="col-md-3 info" id="A14757" data-tid="A346537"><label id="A14758" data-tid="A346538">Fiziki Muayene</label></td>
                    <td class="col-md-9" id="A14759" data-tid="A346539">
                        <span class="col-md-11" style="line-height: 1.42857 !important;" [innerHTML]="oldExaminationFormViewModel?.PhysicalExamination" id="A14760" data-tid="A346540"></span>
                    </td>
                </tr>
                <tr *ngIf="oldExaminationFormViewModel?.PatientHistory != null" id="A14761" data-tid="A346541">
                    <td class="col-md-3 info" id="A14762" data-tid="A346542"><label id="A14763" data-tid="A346543">Özgeçmiş</label></td>
                    <td class="col-md-9" id="A14764" data-tid="A346544">
                        <span class="col-md-11" style="line-height: 1.42857 !important;" [innerHTML]="oldExaminationFormViewModel?.PatientHistory" id="A14765" data-tid="A346545"></span>
                    </td>
                </tr>
                <tr *ngIf="oldExaminationFormViewModel?.PatientFamilyHistory != null" id="A14766" data-tid="A346546">
                    <td class="col-md-3 info" id="A14767" data-tid="A346547"><label id="A14768" data-tid="A346548">Soygeçmiş</label></td>
                    <td class="col-md-9" id="A14769" data-tid="A346549">
                        <span class="col-md-11" style="line-height: 1.42857 !important;" [innerHTML]="oldExaminationFormViewModel?.PatientFamilyHistory" id="A14770" data-tid="A346550"></span>
                    </td>
                </tr>
                <tr id="A14771" data-tid="A346551">
                    <td class="col-md-3 info" id="A14772" data-tid="A346552"><label id="A14773" data-tid="A346553">Reçete</label></td>
                    <td class="col-md-9" style="line-height: 1.42857 !important;" [innerHTML]="oldExaminationFormViewModel?.Prescription" id="A14774" data-tid="A346554"></td>
                </tr>
                <tr id="A14775" data-tid="A346555">
                    <td class="col-md-3 info" id="A14776" data-tid="A346556"><label id="A14777" data-tid="A346557">Önemli Tıbbi Bilgiler</label></td>
                    <td class="col-md-9" id="A14778" data-tid="A346558">{{oldExaminationFormViewModel?.MedicalInformation}}</td>
                </tr>
                <tr id="A14779" data-tid="A346559">
                    <td class="col-md-3 info" id="A14780" data-tid="A346560"><label id="A14781" data-tid="A346561">Tedavi Sonucu</label></td>
                    <td class="col-md-9" id="A14782" data-tid="A346562">{{oldExaminationFormViewModel?.TreatmentResult}}</td>
                </tr>
                <tr id="A14783" data-tid="A346563">
                    <td class="col-md-3 info" id="A14784" data-tid="A346564"><label id="A14785" data-tid="A346565">Muayene Başlangıç Tarihi</label></td>
                    <td class="col-md-9" id="A14786" data-tid="A346566">{{oldExaminationFormViewModel?.ProcessStartDate | date:"dd.MM.yyyy HH:mm"}}</td>
                </tr>
                <tr id="A14787" data-tid="A346567">
                    <td class="col-md-3 info" id="A14788" data-tid="A346568"><label id="A14789" data-tid="A346569">Muayene Bitiş Tarihi</label></td>
                    <td class="col-md-9" id="A14790" data-tid="A346570">{{oldExaminationFormViewModel?.ProcessEndDate | date:"dd.MM.yyyy HH:mm"}}</td>
                </tr>


            </tbody>
        </table>
    </div>
</form>
