



	<form id="OldManipulationForm" class="form-horizontal" role="form" data-tid="A346647">
		
        <div class="row" id="A14866" data-tid="A346648">
            <table class="table table-bordered patientHistoryTableStyle" id="A14867" data-tid="A346649">
                <thead id="A14868" data-tid="A346650">
                    <tr id="A14869" data-tid="A346651">
                        <th colspan="2" class="tableHeaderStyle" id="A14870" data-tid="A346652">Tıbbi/Cerrahi Uygulama</th>
                    </tr>
                </thead>
                <tbody id="A14871" class="historyTableHeightLimit" data-tid="A346653">
                    <tr id="A14872" data-tid="A346654">
                        <td class="col-md-3 info" id="A14873" data-tid="A346655"><label id="A14874" data-tid="A346656">İstek Tarihi</label></td>
                        <td class="col-md-9" id="A14875" data-tid="A346657">{{oldManipulationFormViewModel.RequestDate | date:"dd.MM.yyyy HH:mm"}}</td>
                    </tr>
                    <tr id="A14876" data-tid="A346658">
                        <td class="col-md-3 info" id="A14877" data-tid="A346659"><label id="A14878" data-tid="A346660">İstek Yapan Doktor</label></td>
                        <td class="col-md-9" id="A14879" data-tid="A346661">{{oldManipulationFormViewModel?.RequestDoctor}}</td>
                    </tr>
                    <tr id="A14880" data-tid="A346662">
                        <td class="col-md-3 info" id="A14881" data-tid="A346663"><label id="A14882" data-tid="A346664">İstek Yapan Birim</label></td>
                        <td class="col-md-9" id="A14883" data-tid="A346665">{{oldManipulationFormViewModel?.RequestClinic}}</td>
                    </tr>
                    <tr *ngIf="oldManipulationFormViewModel?.PreInformation != null" id="A14884" data-tid="A346666">
                        <td class="col-md-3 info" id="A14885" data-tid="A346667"><label id="A14886" data-tid="A346668">Ön Bilgi</label></td>
                        <td class="col-md-9" id="A14887" data-tid="A346669">
                            <span class="col-md-11" [innerHTML]="oldManipulationFormViewModel?.PreInformation" id="A14888" data-tid="A346670"></span>
                        </td>
                    </tr>

                    <tr id="A14889" data-tid="A346671">
                        <td class="col-md-3 info" id="A14890" data-tid="A346672"><label id="A14891" data-tid="A346673">İşlem Tarihi</label></td>
                        <td class="col-md-9" id="A14892" data-tid="A346674">{{oldManipulationFormViewModel?.ActionDate | date:"dd.MM.yyyy HH:mm"}}</td>
                    </tr>
                    <tr id="A14893" data-tid="A346675">
                        <td class="col-md-3 info" id="A14894" data-tid="A346676"><label id="A14895" data-tid="A346677">Tıbbi/Cerrahi Uygulama</label></td>
                        <td class="col-md-9" id="A14896" data-tid="A346678">{{oldManipulationFormViewModel?.ProcedureName}}</td>
                    </tr>
                    <tr id="A14897" data-tid="A346679">
                        <td class="col-md-3 info" id="A14898" data-tid="A346680"><label id="A14899" data-tid="A346681">Uygulanan Birim</label></td>
                        <td class="col-md-9" id="A14900" data-tid="A346682">{{oldManipulationFormViewModel?.ProcedureDepartment}}</td>
                    </tr>
                    <tr id="A14901" data-tid="A346683">
                        <td class="col-md-3 info" id="A14902" data-tid="A346684"><label id="A14903" data-tid="A346685">Uygulayan Doktor</label></td>
                        <td class="col-md-9" id="A14904" data-tid="A346686">{{oldManipulationFormViewModel?.ProcedureDoctor}}</td>
                    </tr>
                    <tr id="A14905" data-tid="A346687">
                        <td class="col-md-3 info" id="A14906" data-tid="A346688"><label id="A14907" data-tid="A346689">Açıklama</label></td>
                        <td class="col-md-9" id="A14908" data-tid="A346690">{{oldManipulationFormViewModel?.Description}}</td>
                    </tr>
                  

                    <tr *ngIf="oldManipulationFormViewModel?.ProcedureReport != null" id="A14909" data-tid="A346691">
                        <td class="col-md-3 info" id="A14910" data-tid="A346692"><label id="A14911" data-tid="A346693">İşlem Raporu</label></td>
                        <td class="col-md-9" id="A14912" data-tid="A346694">
                            <span class="col-md-11" [innerHTML]="oldManipulationFormViewModel?.ProcedureReport" id="A14913" data-tid="A346695"></span>
                        </td>
                    </tr>
                    <tr *ngIf="oldManipulationFormViewModel?.ResultReport != null" id="A14914" data-tid="A346696">
                        <td class="col-md-3 info" id="A14915" data-tid="A346697"><label id="A14916" data-tid="A346698">Sonuç Raporu</label></td>
                        <td class="col-md-9" id="A14917" data-tid="A346699">
                            <span class="col-md-11" [innerHTML]="oldManipulationFormViewModel?.ResultReport" id="A14918" data-tid="A346700"></span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
	</form>

