<sidebar-menu #sbarmenu [ToggleSidebar]="ToggleSidebar" (onMenuItemClicked)="menuItemClicked($event)" id="A30665" data-tid="A370852">
    <sidebar-toggle-wrapper id="A30666" data-tid="A370853"></sidebar-toggle-wrapper>
    <sidebar-menu-item key="YardimciMenu" label="Yardımcı Menüler" [ToggleSidebar]="ToggleSidebar" icon="fa-magic" i18n-label="@@M30708" id="A30667" data-tid="A370854"></sidebar-menu-item>


    <sidebar-menu-item key="BirimDegistirme" label="Kullanıcı Birimi Değiştirme" [ToggleSidebar]="ToggleSidebar" icon="fa-newspaper-o" i18n-label="@@M30709" (click)="kullaniciBirimDegistirme()" id="A30668" data-tid="A370855"></sidebar-menu-item>
    <sidebar-menu-item key="Audit" label="İşlem Tarihçesi" [ToggleSidebar]="ToggleSidebar" icon="fa-search" i18n-label="@@M30710" id="A30669" data-tid="A370856"></sidebar-menu-item>
    <sidebar-menu-item key="SaglikBakanligiRaporlari" label="Sağlık Bakanlığı Raporları" [ToggleSidebar]="ToggleSidebar" icon="fa-book" data-tid="A370857"></sidebar-menu-item>
    <sidebar-menu-item key="ReportMainItem" label="Raporlar" [ToggleSidebar]="ToggleSidebar" icon="fa fa-print" data-tid="A370858"></sidebar-menu-item>

</sidebar-menu>
