

 
<div #photo id="A30693" data-tid="A370859">
    <div *ngIf="showStartCaptureButton && !_closeButton" class="fa fa-camera-retro" (click)="startPhotoCapture()" style="color: #0088cc;position:absolute;top: 75px;right: -22px;z-index:999;font-size: 20px;" id="A30694" data-tid="A370860"></div>

    <div *ngIf="showCapturePhotoButton && !_closeButton" class="fa fa-camera-retro" (click)="capturePhoto()" style="color: #0088cc;position:absolute;top: 50px;right: -22px;z-index:999;font-size: 20px;" id="A30695" data-tid="A370861"></div>

    <div class="fa fa-upload" *ngIf="showUploadButton && !_closeButton" (click)="uploadPhoto()" style="color: #0088cc;position:absolute;top: 25px;right: -22px;z-index:999;font-size: 20px;" id="A30695" data-tid="A370862"></div>

    <img #image [src]="_image" *ngIf="showCurrentImage" id="A30696" data-tid="A370863" />

    <i *ngIf="showProcessButtons && !_closeButton" (click)="close()" class="fa fa-times" style="color: #d9534f;position:absolute;top: 0;right: -22px;z-index:999;font-size: 20px;" aria-hidden="true" id="A30697" data-tid="A370864"></i>

    <div #photoview id="A30698" data-tid="A370865">

    </div>
</div>

<input #fileupload (change)="fileChangeEvent($event)" style="display: none" type="file" name="pic" accept=".jpg, .jpeg" data-tid="A370866" />
