<div class id="A14623" data-tid="A374640">
    <div class id="A14624" data-tid="A374641">
        <div class="col-sm-3" id="A14625" data-tid="A374642">Dosya Tipi</div>
        <div class="col-sm-9" id="A14626" data-tid="A374643">
            <dx-select-box searchEnabled="true" (onSelectionChanged)="onDocumentTypeChanged($event)" valueExpr="ObjectID" [(items)]="newDocumentTypes" [(value)]="newDocType.ObjectID" [readOnly]="true" placeholder="Dosya Tipini Seçiniz..." displayExpr="dosyaTuruAdi" i18n-placeholder="@@M13274" id="A14627" data-tid="A374644"></dx-select-box>
        </div>
    </div>
    <div class id="A14628" data-tid="A374645">
        <div class="col-sm-3" id="A14629" data-tid="A374646">Açıklama Giriniz</div>
        <div class="col-sm-9" id="A14630" data-tid="A374647">
            <dx-text-box [(value)]="Description" id="A14631" data-tid="A374648">
            </dx-text-box>
        </div>
    </div>
    <div class id="A14632" data-tid="A374649">
        <div class="col-sm-8" id="A14633" data-tid="A374650">
            <input type="file" id="filePicker" (change)="onChange($event)" accept=".png, .jpg, .jpeg, .pdf, .ppt, .pptx, .doc, .docx, .mp3, .mp4, .avi, .wma" data-tid="A374651" />
        </div>
        <div class="col-sm-4" id="A14634" data-tid="A374652">
            <dx-button style="float:right;margin-right: -0px;" icon="fa fa-upload" text="Yükle" type="default" (onClick)="addDocument()" i18n-text="@@M24733" id="A14635" data-tid="A374653"></dx-button>
        </div>
    </div>

    <div class="col-sm-12" id="A14636" data-tid="A374654">
        <dx-data-grid #DocumentColumns [columns]="GridColumns" (onRowRemoving)="deleteDocument($event)" [allowColumnResizing]="true" (onSelectionChanged)="selectionDoc($event)" [dataSource]="docs" [editing]="{allowDeleting:true,mode: 'row',  texts:{confirmDeleteMessage:'Silmek İstediğinizden Emin misiniz?'}}" [paging]="{enable: true, pageSize:10}" [filterRow]="{visible: true}" style="height:300px" id="A14637" [selection]="{mode: 'multiple',allowSelectAll: true}" data-tid="A374655">
        </dx-data-grid>
    </div>
    <div class="col-sm-12" id="A14638" data-tid="A374656">
            <div class="col-sm-6" id="A14638" data-tid="A374657">
            </div>
    <div class="col-sm-3" id="A14638" data-tid="A374658">
        <dx-button text="Kaydet" style="margin-right: -98px;" rtlEnabled="true" class="tabHeaderButton dx-button-active dx-button-semioval dx-button-blue" icon="save" (onClick)="Upload()" i18n-text="@@M17386" id="A14639" data-tid="A374659"></dx-button>
    </div>
    <div class="col-sm-3" id="A14621" data-tid="A374660">
        <dx-button text="İndir" [disabled]="!anySelectedFiles" style="margin-right: -10px;" rtlEnabled="true" class="tabHeaderButton dx-button-active dx-button-semioval dx-button-blue" icon="fa fa-download" (onClick)="downloadSelectedFiles()" i18n-text="@@M16487" id="A14622" data-tid="A374661"></dx-button>
    </div>
    </div>
</div>