html{
  height: 100%;
  min-height:100%;
  position:relative;
}
body{
  background-color: #EBEBEB;
  height: 100%;
  margin: 0;
}

.btn {
  height: 24px;
  width: 70px;
  border: 1px solid #E5E8EA;
  border-radius: 1px;
  font-size: 10px;
  color: #95989A;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #FDFDFD; /* For browsers that do not support gradients */
  background-color: -webkit-linear-gradient(#FDFDFD, #F5F5F5); /* For Safari 5.1 to 6.0 */
  background-color: -o-linear-gradient(#FDFDFD, #F5F5F5); /* For Opera 11.1 to 12.0 */
  background-color: -moz-linear-gradient(#FDFDFD, #F5F5F5); /* For Firefox 3.6 to 15 */
  background-color: linear-gradient(#FDFDFD, #F5F5F5); /* Standard syntax */
  cursor: pointer;
}

.btn-active{
  border-radius: 2px;
  background-color: #00ACF1;
  color: #FFF;
}

.btn-large{
  width: 180px;
}

.checkbox{
  display: inline-block;
}

.checkbox input[type="checkbox"] {
    display:none;
}
.checkbox input[type="checkbox"] + label span {
    display:inline-block;
    width:21px;
    height:21px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/icons/notchecked.png) left top no-repeat;
    cursor:pointer;
}
.checkbox input[type="checkbox"]:checked + label span {
    background:url(../img/icons/checked.png) left no-repeat;
}

.checkbox .text{
  color: #666666;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.date{
  display: inline-block;
}

.date .text{
  vertical-align: middle;
  display: inline-block;
  color: #95989A;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.date .border{
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
  width: 1px;
  height: 28px;
  background-color: #00ACF1;
  display: inline-block;
}

.input{
  margin-bottom: 10px;
}

.input .title{
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 2px;
}

.input input[type="text"], .input input[type="password"]{
  width: 340px;
  color: #444444;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #E5E8EA;
  border-radius: 2px;
  background-color: #FFF;
  padding: 5px;
}

.input textarea{
  height: 30px;
  width: 700px;
  max-width: 700px;
  color: #444444;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 11px;
  border: 1px solid #E5E8EA;
  border-radius: 2px;
  background-color: #FFF;
  padding: 10px;
}

.personCard{
  height: 120px;
  width: 380px;
  background-color: #FFF;
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  text-align: center;
}

.personCard::before{
  content:"";
  width: 0;
  height: 120px;
  display: inline-block;
  vertical-align: middle;
}

.personCard .photo, .personCard .info{
  display: inline-block;
  vertical-align: middle;;
}

.personCard .photo{
  margin-right: 15px;
}

.personCard .photo img{
  width: 80px;
  height: 90px;
  border-radius: 2px;
}

.personCard .info .personName{
  font-weight: 700;
  font-size: 20px;
  text-align: left;
}

.personCard .info .personSurname{
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
}

.personCard .info .personIDs .column:not(:last-child) {
  margin-right: 20px;
}

.column{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  font-size: 12px;
}

.column .header{
  font-weight: 400;
  text-align: center;
}

.column .columnContent{
  font-weight: 700;
  text-align: center;
}

.searchBox{
  height: 44px;
  width: 340px;
  border-radius: 2px;
  border: 1px solid #E5E8EA;
  background-color: #F6F6F6;
  display: inline-block;
  position: relative;
}

.searchBox input[type="text"]{
  width: 290px;
  height: 42px;
  border:0;
  color: #444444;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
  padding-left: 10px;
}

.searchBox .searchButton{
  position: absolute;
  left: 300px;
  right:0;
  top: 0;
  bottom: 0;
  background: url(../img/icons/search.png) center no-repeat;
  cursor: pointer;
}

.content{
  margin-left: 160px;
  padding-left: 30px;
}


.tabHeader .tabButton {
  display: inline-block;
  font-size: 20px;
  color: #95989A;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 35px;
  cursor: pointer;
}

.tabHeader .tabButton:not(:last-child) {
  margin-right: 30px;
}

.tabHeader .active{
  border-bottom: 1px solid #FFAB00;
  color: #00ACF1;
  cursor: default;
}

.menu{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #191818;
  padding-top:30px;
}

.menu .title{
  font-size: 14px;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-left: 15px;
  margin-bottom: 20px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li{
  height: 41px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 5px;
  color: #CCCCCC;
  font-weight: 600;
}

.menu ul li:before{
  content: "";
  height: 41px;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}

.menu ul li .icon{
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.menu a{
  display: inline-block;
  color:inherit;
  text-decoration: none;
  vertical-align: middle;
}

.menu ul .active{
  font-weight: 700;
  color: #FFF;
  background-color: #444444;
}

.listWidget{
  width: 235px;
  display: inline-block;
}

.listWidget .header{
  font-size: 20px;
  width:235px;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height:145px;
  background-color: #00ACF1;
  display: table-cell;
  vertical-align: bottom;
  padding: 0 0 20px 20px;
}

.listWidget .widgetContent{
  width:235px;
  background-color: #F6F6F6;
  padding-bottom: 20px;
}

.listWidget .widgetContent .iconButtons{
  padding: 10px;
  text-align: right;
}

.listWidget .widgetContent .iconButtons > a{
  padding: 10px;
}

.listWidget .widgetContent .buttons{
  text-align: center;
  margin: 10px 0 10px 0;
}

.listWidget .widgetContent .list{
  padding: 10px;
}

.listWidget .widgetContent .list .listNode .checkbox{
  display: block;
}

.listWidget .widgetContent .list .listNode .checkbox .text{
  max-width: 180px;
}

.listWidget .widgetContent .list .listNode .checkbox .text .personName{
  font-size: 14px;
  color: #444444;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.listWidget .widgetContent .list .listNode .checkbox .text .small{
  font-size: 9px;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.listWidget .widgetContent .list .listNode .checkbox > div {
  display: inline-block;
  vertical-align: middle;
}
